Source: dbr
Section: devel
Priority: extra
Maintainer: me <me@a.b>
Build-Depends: debhelper, golang-go, argo
Standards-Version: 3.9.4

Package: dbr
Architecture: any
Description: blah.
 blah..


Package: dbr-dev
Architecture: all
Description: blah - development package
 blah...


